{% extends 'base.html.twig' %}

{% block title %}Choix{% endblock %}

{% block body %}

<div class="center">
    <h1>Commande/Resa</h1>
    <h5>{{ resto.address }}, {{ resto.ville }}, {{ resto.pay }}</h5>
{% if  app.user %}
    <p>Vous souhaitez réserver au restaurant : <code><a href="{{ path('app_home_resa', {'idresto': resto.id}) }}">C'est par ici !</a></code>
{% endif %}

    {% for menu in menus %}
        <article>
            <h3>Menu {{ loop.index }}</h3>
            <ul>
                <li><code>Entrée :</code> {{ menu.entre }}</li>
                <li><code>Plat :</code> {{ menu.plat }}</li>
                <li><code>Dessert :</code> {{ menu.dessert }}</li>
            </ul>
{% if  app.user %}
            <code><a href="{{ path('app_home_ticket', {'idresto': resto.id, 'idmenu': menu.id}) }}">Commandez en ligne ce menu !</a></code>
{% endif %}
        </article>
    {% endfor %}

</div>
{% endblock %}
