{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="center">
    
{% if not app.user %}
    <h1>Bienvenue chez McDoPlus !</h1>
    <h5>Menu par Resto :</h5>
    <ul>
    {% for resto in restos %}
        <li><code><a href="{{ path('app_home_menu', {'idresto': resto.id}) }}">{{ resto.address }}, {{ resto.ville }}, {{ resto.pay }}</a></code></li>
    {% endfor %}
    </ul>
{% else %}
    <h1>Salut {{ app.user.email }}</h1>
    <h5>Réserver/Commander :</h5>
    <ul>
    {% for resto in restos %}
        <li><code><a href="{{ path('app_home_choice', {'idresto': resto.id}) }}">{{ resto.address }}, {{ resto.ville }}, {{ resto.pay }}</a></code></li>
    {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}
