{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

<div class="center">
    <h1>Menu</h1>
    <h5>{{ resto.address }}, {{ resto.ville }}, {{ resto.pay }}</h5>

    {% for menu in menus %}
        <article>
            <h3>Menu {{ menu.id }}</h3>
            <ul>
                <li><code>Entrée :</code> {{ menu.entre }}</li>
                <li><code>Plat :</code> {{ menu.plat }}</li>
                <li><code>Dessert :</code> {{ menu.dessert }}</li>
            </ul>
        </article>
    {% endfor %}

</div>
{% endblock %}
