{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ avi.note }}</td>
            </tr>
            <tr>
                <th>Com</th>
                <td>{{ avi.com }}</td>
            </tr>
            <tr>
                <th>Id_ticket</th>
                <td>{{ avi.idTicket }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
