{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<div class="center">
    <h1>Restaurant</h1>

    <article>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ resto.id }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ resto.pay }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ resto.ville }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ resto.address }}</td>
                </tr>
            </tbody>
        </table>

        <p><a href="{{ path('app_resto_admin_edit', {'id': resto.id}) }}">edit</a></p>

        {{ include('resto_admin/_delete_form.html.twig') }}

        <a href="{{ path('app_resto_admin_index') }}">back to list</a>
    </article>
</div>
{% endblock %}
