{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="center">
    <h1>Menu</h1>

    <article>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ menu.id }}</td>
                </tr>
                <tr>
                    <th>Entrée</th>
                    <td>{{ menu.entre }}</td>
                </tr>
                <tr>
                    <th>Plat</th>
                    <td>{{ menu.plat }}</td>
                </tr>
                <tr>
                    <th>Dessert</th>
                    <td>{{ menu.dessert }}</td>
                </tr>
                <tr>
                    <th>Id_resto</th>
                    <td>{{ menu.idResto }}</td>
                </tr>
                <tr>
                    <th>Id_users</th>
                    <td>{{ menu.idUsers }}</td>
                </tr>
            </tbody>
        </table>
        <p><a href="{{ path('app_menu_chef_edit', {'id': menu.id}) }}">edit</a></p>

        {{ include('menu_chef/_delete_form.html.twig') }}
        <p><a href="{{ path('app_menu_chef_index') }}">back to list</a></p>
    </article>
</div>
{% endblock %}
