{% extends 'base.html.twig' %}

{% block title %}Resa{% endblock %}

{% block body %}
    <h1>Resa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resa.id }}</td>
            </tr>
            <tr>
                <th>Id_resto</th>
                <td>{{ resa.idResto }}</td>
            </tr>
            <tr>
                <th>Nb_user</th>
                <td>{{ resa.nbUser }}</td>
            </tr>
            <tr>
                <th>Date_heur</th>
                <td>{{ resa.dateHeur ? resa.dateHeur|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resa_service_index') }}">back to list</a>

    <a href="{{ path('app_resa_service_edit', {'id': resa.id}) }}">edit</a>

    {{ include('resa_service/_delete_form.html.twig') }}
{% endblock %}
